.col-xs-8.col-xs-offset-2.cart-show
  %h3
    Cart #
    = @cart.id
  %ul.product-records-list
    - @cart.product_records.each do |prod_rec|
      %li.cart-item.col-xs-3
        = image_tag prod_rec.product.image.picture.url(:thumb), class: "thumbnail"
        %p
          = prod_rec.product.title
        %p
          = prod_rec.product.category.title
        %p.red
          = prod_rec.product.price
        %p
          quantity:
          = prod_rec.quantity