.col-xs-8.col-xs-offset-2.cart-show
  %h3
    Cart #
    = @cart.id
  %ul.product-records-list
    - @cart.product_records.each do |prod_rec|
      %li.cart-item.col-xs-3
        = image_tag prod_rec.product.image.picture.url(:thumb), class: "thumbnail"
        %p
          = prod_rec.product.title
        %p
          = prod_rec.product.category.title
        %p.red
          = prod_rec.total_price
        %p
          quantity:
          = prod_rec.quantity
        = link_to "more", incr_quantity_product_records_path(product_rec_id:(prod_rec.id)), method: :post
        |
        = link_to "less", decr_quantity_product_records_path(product_rec_id:(prod_rec.id)), method: :post
  .clear
  %h4.pull-right
    Cart total:
    %span.red
      = @cart.total_cart_price.round(2)
  .clear
  %hr
  = link_to "empty cart", cart_path, method: :delete, data: {confirm: 'Are you sure?'}