= bootstrap_form_for @product, :html => { :multipart => true }  do |p|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibitet this product for being saved:
    %ul
      - @product.errors.full_messages.each do |msg|
        %li
          = msg

  .form-group
    = p.text_field :title
    = p.text_area :description, :rows => 10
    = p.text_field :price
    = p.text_field :sku
    = p.fields_for :image do |img|
      = img.text_field :path
    = p.collection_select :category_id, Category.all, :id, :title, label: "Select category:"
    = p.submit