%h2
  All products
%ul
  - @products.each do |prod|
    %li
      = link_to prod.title, product_path(prod)
      %p= prod.description
      %span.price.red= prod.price
      %p
        sku:
        = prod.sku
        category:
        %b
          = prod.category.title