.col-xs-10.col-xs-offset-1
  %h3
    = @product.title
    page
  %p
    -if @product.image
      = image_tag(@product.image.picture.url(:medium))
  %p
    = @product.description
  %b
    Price:
    %span.price.red
      = @product.price
  - if @product.category_id
    %p
      category:
      %b
        = @product.category.title
  - else
    %p
      currently
      %b
        no category
-#- binding.pry
.clear
= link_to 'edit', edit_product_path
= link_to 'back', products_path
= link_to 'delete', product_path, method: :delete, data: {confirm: "Are You sure?"}