%nav.navbar.navbar-default
  .container-fluid
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          = link_to 'intro', root_path
        %li
          = link_to 'home', products_path
        %li
          = link_to 'new product', new_product_path
        %li
          = link_to 'new category', new_category_path
        %li
          = $show_counter